/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
  font-family: "Oswald";
  src: url("Oswald-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Old Standard TT";
  src: url("OldStandardTT-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Old Standard TT";
  src: url("OldStandardTT-Bold.ttf") format("truetype");
  font-weight: 700;
}

/* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 200 to 700 */

h1 {
  font-family: "Oswald", system-ui;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.05em;
}

h2 {
  font-family: "Oswald", system-ui;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.05em;
}

body {
  font-family: "Old Standard TT", system-ui;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.03em;
  word-spacing: 0.0125em;
}

header {
  text-align: center;
}

section p {
  text-indent: 1.5em;
}

section p:has(+ol) {
  text-indent: 0;
}

a:visited {
  color: rgb(199, 86, 148);
}

a:focus {
  color: #a66;
  text-decoration: none;
}

a:hover {
  color: rgb(238, 146, 146);
  text-decoration: none;  
}

a:active {
  color: rgb(199, 86, 148);
  border: 1px solid rgb(199, 86, 148);
}

a[href^="http"]::after {
  background-image: url("external-link-52.png");
  background-size: 0.8em 0.8em;
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  content: "";
  margin-left: 0.25rem;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  padding-left: 0;
}

li {
  line-height: 1.5;
  padding-left: 1.5rem;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  padding-left: 0;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav li {
  border: 1px solid #a66;
  padding: 1.2rem;
  margin: 0.5rem;
  text-align: center;
}

nav a {
  color: #a66;
  text-decoration: none;
  font-weight: 700;
}